<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
</head>
<body>
	<div class="container py-4">
  	<div class="container">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Главная</a></li>
        <li class="nav-item"><a href="/posts" class="nav-link">Статьи</a></li>
        <li class="nav-item"><a href="/create-article" class="nav-link">Публикация</a></li>
        <li class="nav-item"><a href="/about" class="nav-link">О нас</a></li>
      </ul>
    </header>
  </div>
  <div class="p-4 mb-4 bg-light rounded-3">
  <div class="container px-4 py-8" id="featured-3">
    <h2 class="pb-3 border-bottom">Наши преимущества перед другими</h2>
    <div class="row g-4 py-4 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div>
          <svg class="bi" width="1em" height="1em"><use xlink:href="#"></use></svg>
        </div>
        <h2>Доступность</h2>
        <p>Каждый сможет опубликовать на нашем сайте статью, даже те кто не разбираются в технологиях.Простота в использование была главной целью при создание нашего сайта.</p>

        <a href="#" class="btn btn-primary"> Перейти</a>
      </div>
      <div class="feature col">
        <div>
          <svg class="bi" width="1em" height="1em"><use xlink:href="#"></use></svg>
        </div>
        <h2>Практичность</h2>
        <p>Сайт выполнен очень аккуратно, нет ниченго лишнего, нет рекламы, здесь вы можете просто расслабиться и учиться, читать, позновать много нового.</p>
        <a href="#" class="btn btn-primary"> Перейти</a>
      </div>
      <div class="feature col">
        <div>
          <svg class="bi" width="1em" height="1em"><use xlink:href="#"></use></svg>
        </div>
        <h2>Сообщество</h2>
        <p>Наше сообщество состоит только из умных и культурных людей, все всегда готовы вам помочь или подскозать. Никаких споров и конфликтов, никакой вражды</p>
        <a href="#" class="btn btn-primary"> Перейти</a>
      </div>
    </div>
  </div>
  
  <div class="container px-4 py-6" id="featured-3">
    <div class="row g-4 py-4 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div>
          <svg class="bi" width="1em" height="1em"><use xlink:href="#"></use></svg>
        </div>
        <h2>20 лет на рынке</h2>
        <p>Нашей компании больше 20 лет, за все это время нас одобрили большное количество людей, многие узнали огромное количество новой информации благодаря нам.</p>

        <a href="#" class="btn btn-primary"> Перейти</a>
      </div>
      <div class="feature col">
        <div>
          <svg class="bi" width="1em" height="1em"><use xlink:href="#"></use></svg>
        </div>
        <h2>Наличие сертификатов</h2>
        <p>Нас одобрили многие компании, минестерство образования, ученые и многие влиятельные люди. Даже Илон Маск одобрил нас, так же Билл Гейтс, Энштейн.</p>
        <a href="#" class="btn btn-primary"> Перейти</a>
      </div>
      <div class="feature col">
        <div>
          <svg class="bi" width="1em" height="1em"><use xlink:href="#"></use></svg>
        </div>
        <h2>Забота о клиентах</h2>
        <p>Наши специалисты будт всегда с вами на связе, они смогут вам ответить в любое время суток по любым вашим вопросам. Проведут вам консультации.</p>
        <a href="#" class="btn btn-primary"> Перейти</a>
      </div>
    </div>
  </div>
</div>
<footer class="pt-3 mt-4 text-muted border-top">
      © 2022
    </footer>
</body>
</html>